@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic");

:root {
  --bg-color: #5736a3;
  --color: #ebd8ff;
  --accent-color: #5cd3a8;
  --text-color: #373737;
  --shadow-card: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  --shadow-button: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  --border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color);
}
